@import "../../../../../styles/colors";

@media (max-width: 992px) {
  h5 {
    font-size: 12px !important;
  }

  h3 {
    font-size: 14px !important;
  }
}

.performance-header {
  padding: 28px 0;
  color: #12253d;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #dfe7ee -56%,
    rgba(223, 231, 238, 0.18894) 32.51%,
    rgba(223, 231, 238, 0.04) 48.76%,
    rgba(223, 231, 238, 0.188462) 68.24%,
    #dfe7ee 174.74%
  );
}

::ng-deep .card-container {
  background-color: #fff;
  padding: 2rem;

  &:not(:last-child) {
    border-bottom: 1px dashed #dde1e6;
  }

  app-short-table {
    tbody > tr > td {
      font-size: 14px !important;
      padding: 14px !important;

      @media (max-width: 992px) {
        font-size: 8px !important;
        padding: 6px !important;
      }
    }

    tbody > tr > td:first-child {
      padding-left: 0 !important;
      color: #697077;
    }

    tbody > tr > td:nth-child(2) {
      font-weight: 600 !important;
      color: #3a63f3;
    }

    tbody > tr > td:nth-child(3) {
      color: #12253d;
      text-align: end !important;
    }
  }

  .table-title {
    color: #12253d;
    font-weight: 600;
  }

  ::ng-deep .table-right-border {
    app-short-table {
      & > div:first-child {
        padding: 0 32px 0 0 !important;
        border-right: 1px dashed #dde1e6;

        @media (max-width: 992px) {
          padding: 0 16px 0 0 !important;
        }
      }
    }
  }

  ::ng-deep .table-left-border {
    app-short-table {
      & > div:first-child {
        padding-right: 0 !important;
        padding-left: 32px !important;
        // border-right: 1px dashed #DDE1E6;
        @media (max-width: 992px) {
          padding-left: 16px !important;
        }
      }
    }

    h5 {
      padding-left: 32px !important;

      @media (max-width: 992px) {
        padding-left: 16px !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .card-container {
    padding: 1rem;
  }
  h5 {
    font-size: 12px !important;
  }
  h3 {
    font-size: 14px !important;
  }
}
