@import '../../../../../styles/colors';
:host::ng-deep {
  tr:last-child {
      border-bottom: 1px solid $line-color;
    }
}

@media (max-width: 992px) {
  h5 {
    font-size: 12px !important;
  }
  ::ng-deep span {
    font-size: 8px !important;
  }
}

.event-header{
  padding: 24px 32px 30px !important;
}

::ng-deep .text-country{
  font-weight: 600;
  .link{
    color: $primary !important;
  }
  
}

.court-text{
  font-size: 12px;
  font-weight: 400;
  color: $secondary-text;

  @media (max-width: 992px) {
    font-size: 8px;
  }
}