<div class="container mb-4">
  <div class="row p-2">
    <div class="col">
      <div *ngIf="statistics && profile; else profileEmpty">
        <app-profile-stats [info]="profile" [statistics]="statistics"></app-profile-stats>
        <div class="row margin-container"><app-profile-upcoming-matchs [type]="profile.type"></app-profile-upcoming-matchs></div>
        <div class="row margin-container"><app-profile-match-stats [type]="profile.type"></app-profile-match-stats></div>
        <div class="row margin-container"><app-profile-matches-played [type]="profile.type" [limit]="4"></app-profile-matches-played></div>
        <div class="row margin-container"><app-profile-match-stats-summary></app-profile-match-stats-summary></div>
        <div class="row margin-container"><app-profile-performance-breakdown [type]="profile.type"></app-profile-performance-breakdown></div>
        <div class="row margin-container"><app-profile-single-titles-finals [years]="profile.finalYears" [type]="profile.type"></app-profile-single-titles-finals></div>
        <div class="row margin-container"><app-profile-match-stats-h2h [type]="profile.type"></app-profile-match-stats-h2h></div>
      </div>

      <ng-template #profileEmpty>
        <div
          *ngIf="profileLoadError && profileInfoIsLoad && profileStatsIsLoad"
        >
          <h1 class="fw-bold text-center">Profile not found!</h1>
        </div>

        <div
          *ngIf="
            !profileLoadError && (!profileInfoIsLoad || !profileStatsIsLoad)
          "
        >
          <h1 class="fw-bold text-center">Profile is loading...</h1>
        </div>
      </ng-template>
    </div>
    <div class="col col-lg-4 col-md-7 d-none d-md-block sidebar-container">
      <app-sidebar [showInterestingH2h]="false"></app-sidebar>
    </div>
  </div>
</div>
