$black: #21272A;
$white: #ffffff;
$text-color: #121619;
$win: #2BD299;
$draw: #e0d24f;
$lost: #F33C59;
$blue:#3A63F3;
$hover-blue:#4E73F4;
$primary: #193050;
$primary-text: #12253D;
$secondary-text: #697077;
$dark-gray:#E5EBF1;
$light-gray:#F5F7F9;
$gray:#F4F7F9;
$line-color:#DDE1E6;
$clr-text-1: #12253d;
$clr-text-2: #697077;
$clr-gray-10: #f4f7f9;
$clr-gray-20: #f5f7f9;
$clr-gray-30: #e5ebf1;