@import "../../../styles/colors";
//
//.col {
//  @include for-phone-only {
//    padding: 0 5px !important;
//  }
//}

::ng-deep .matches-component app-matches {
    .container {
        padding: 0 5px !important
    }
    .mb-4 {
        margin-bottom: 0 !important;
    }
    .mt-4 {
        margin-top:0 !important;
    }
}

.welcome-text {
    font-size: 20px;
    color: $white;
    font-weight: 400;
    text-align: center;
    padding: 28px 12px;
    background-color: $primary-text;
    border-radius: 6px; 
    
    @media  (max-width:992px) {
        font-size : 16px;
        padding: 14px 6px;
    }

    @media (max-width:768px) {
        font-size: 12px;
        padding: 12px 6px;
    }
}