@import "../../../styles/colors";

a, a:hover, a:link {
  color: #376BB2
}

.tournament-header {
  background-color: $primary;
  color: $white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 28px 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0 !important;

  @media (max-width: 992px) {
    font-size: 14px;
    padding: 14px 0;
  }
}